<nav>
  <div id="nav-content">
    <div class="nav-social-list">
      <div class="nav-social-item">
        <a href="https://twitter.com/__ideguchi"><i class="fab fa-twitter-square nav-social-icon-twitter"></i></a>
      </div>
      <div class="nav-social-item">
        <a href="https://www.facebook.com/profile.php?id=100028198952133"><i class="fab fa-facebook-square nav-social-icon-facebook"></i></a>
      </div>
    </div>
    <div class="section-nav">
      <ul id="nav-list">
        <li class="nav-list-item">
          <a href="#profile"><i class="fas fa-id-card-alt nav-icon"></i><span class="nav-list-title">PROFILE</span></a>
        </li>
        <li class="nav-list-item">
          <a href="#about_me"><i class="fas fa-smile nav-icon"></i><span class="nav-list-title">ABOUT ME</span></a>
        </li>
        <li class="nav-list-item">
          <a href="#skills"><i class="fas fa-check nav-icon"></i><span class="nav-list-title">SKILLS</span></a>
        </li>
        <li class="nav-list-item">
          <a href="#contact"><i class="fas fa-handshake nav-icon"></i><span class="nav-list-title">CONTACT</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header id="header-class">
  <div class="header-content">
     <h1 class="headline">
       <a href="#" class="title_name">Fumito Ideguchi's Portfolio</a>
     </h1>
     <div class="head-content">
       <a href="#profile"><i class="fas fa-arrow-circle-down"></i><span>Start</span></a>
     </div>
   </div>
 </header>
 <main>
   <section class="profile">
     <div class="container">
      <h2 class="headline" id="profile"><i class="fas fa-id-card-alt"></i><span>PROFILE</span></h2>
        <div class="profile-box">
          <div class='profile_photo'>
            <%= image_tag 'img.JPG',class:'photo',:size => '336x336'%>
            <a href="https://megurin-cafe.com/"></a>
          </div>
            <div class="profile_text_box">
             <p class="profile_text">
               初めましての方も、いつもお世話になっている方もこんにちは。
               <br>出口 史門（イデグチ フミト）です。
               <br>デザインとか全くわからないんですが、RailsとHerokuでポートフォリオを作りました。
               <br>Herokuだから表示速度がかなり遅い...。
               <br>僕のプロフィールを簡潔に。
               <br>1999年12月20日生まれで現在20歳。
               <br>山口県の田舎で生まれ、4歳から7歳までアメリカのスタンフォードで過ごす。
               <br>小学校から高校まで再び山口県で過ごし、青山学院大学への進学を機に上京。
               <br>大学1年時にライターとしてオウンドメディアに入社。
               <br>SEOを2年学び、その後はプロダクトマネージャーとして開発要件の定義やデータ分析、エンジニアの工数管理を行った。
               <br>フランス発のエンジニア養成機関42Tokyoで、エンジニアリングを学んだり、
               <br>アドネとアフィの勉強がてら、「めぐりん」というカフェメディアを運営している。
               <br><a href="https://megurin-cafe.com/"><i class="fas fa-external-link-alt"></i>「めぐりん」はこちら！</a>
              </p>
            </div>
        </div>
      </div>
   </section>
   <section class="about_me">
     <div class="container">
      <h2 class="headline" id="about_me"><i class="fas fa-smile"></i><span>ABOUT ME</span></h2>
        <div class="about_me-box">
          <div class="about_me-odd_box">
            <div class="hobby_odd flower">
              <div class= 'bkRGBA'>
                <h3 class="hobby_title"><i class="fab fa-pagelines"></i><span>IKEBANA</span></h3>
                <p class="hobby_text">当時から生け花の教室に通っていた母の影響もあり、中学から高校までやっていました。流派は流星派というものです。この流派は生け花というか、植物を用いた芸術作品を作ることに近い。自ら作品を出展することも多々あり、自分の作品を不特定多数に見られるという経験が、意外と自分の価値観に大きな影響を与えています。</p>
              </div>
            </div>
            <div class="hobby_odd sake">
              <div class= 'bkRGBA'>
                <h3 class="hobby_title"><i class="fas fa-wine-glass-alt"></i><span>ALCOHOL</span></h3>
                <p class="hobby_text">お酒は好きです。でも弱いです。飲みに誘って頂ければ基本応じますが、戦えません。ビールは「キリン一番搾り」が1番好きです。ストカンはぬるいレモンが好きです。</p>
              </div>
            </div>
          </div>
          <div class="about_me-even_box">
            <div class="hobby_even sauna">
              <div class= 'bkRGBA'>
                <h3 class="hobby_title"><i class="fas fa-hot-tub"></i><span>SAUNA</span></h3>
                <p class="hobby_text">友人のエンジニアとデザイナーに仕込まれました。いろいろ行きましたが、最近できた池袋の「かるまる」マジでやばくないですか？水風呂のあの温度、本気で心臓止めにきてますよね。基本整うのは屋外です。アスティルを省いて。</p>
              </div>
            </div>
            <div class="hobby_even vocal">
              <div class= 'bkRGBA'>
                <h3 class="hobby_title"><i class="fas fa-microphone-alt"></i><span>VOCAL</span></h3>
                <p class="hobby_text">勉強も特にせず暇を持ち余した高校時代に、かっこいいものに憧れて歌を極めることにしました。ボイトレにも通いながらメキメキ成長していったある日、友人にHEY-SMITHを勧められてからバンドを組み、地元のライブハウスをよく4人で巡っていました。今でもカラオケではかなりマウントを取れるのでやっててよかったです。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
   </section>
   <section class = 'skills'>
     <div class="container">
     <h2 class="headline" id="skills"><i class="fas fa-check"></i><span>SKIILS</span></h2>
     <div class='skills-box'>
        <div class='card'>
         <div class='skill-desc'>
           <h3 class="skill-desc-title"><i class="fas fa-desktop"></i><span>基本的なツール</span></h3>
           <p class="skill-desc-text">自分が業務で使用経験のあるツールをまとめています。</p>
           <table class="skill-desc-table">
             <tr>
              <th>技術</th>
              <th>スキル</th>
            </tr>
            <tr>
              <td>slack</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </td>
            </tr>
            <tr>
              <td>Google Analytics</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>Google Search Console</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>BigQuery（SQL）</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>Google Ads</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>Google Firebase</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
           </table>
         </div>
        </div>
       <div class='card'>
         <div class='skill-desc'>
           <h3 class="skill-desc-title"><i class="fas fa-desktop"></i><span>Web</span></h3>
           <p class="skill-desc-text">使用経験のあるものをまとめました。</p>
           <table class="skill-desc-table">
             <tr>
              <th>技術</th>
              <th>スキル</th>
            </tr>
            <tr>
              <td>HTML5</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </td>
            </tr>
            <tr>
              <td>CSS3</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>jQuery</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>Ruby on Rails</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>SQLite</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
           </table>
         </div>
       </div>
       <div class='card'>
         <div class='skill-desc'>
           <h3 class="skill-desc-title"><i class="fas fa-desktop"></i><span>勉強中...。</span></h3>
           <p class="skill-desc-text">主に42Tokyoで学習中。</p>
           <table class="skill-desc-table">
             <tr>
              <th>技術</th>
              <th>スキル</th>
            </tr>
            <tr>
              <td>C</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>shell</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
            <tr>
              <td>git</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>
           </table>
         </div>
       </div>
      </div>
      </div>
   </section>
   <section class="contact" id="contact">
     <div class="container">
      <h2 class="headline" id="contact"><i class="fas fa-handshake"></i><span>CONTACT</span></h2>
      <div class="contact-box">
        <div class="contact-text">
          <p>最後までご覧いただきありがとうございました。私のことを少しでも知っていただけたなら幸いです。もし私に対して何かコメントがありましたら、Twitter、Facebookをご利用ください。</p>
        </div>
      </div>
    </div>
   </section>
 </main>

 <footer>
   <!-- <div class="footer-icon-box"> -->
     <a href="#header-class" class="footer-icon-box"><i class="fas fa-angle-double-up"></i></a>
   <!-- </div> -->
   <p class="footer-text">© 2020 Fumito Ideguchi</p>
 </footer>
